<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books_authors_app/styles.css' %}">

</head>
<body>
    <!-- Container -->
    <div id='container'>
        <div class="new_box">
            <h1>{{author.first_name}}</h1>
            <h1>{{author.last_name}}</h1>
            <div class='text_blocks'>
                <p>{{author.notes}}</p>

                </div>
            </div>

        </div>
    </body>
