<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books_authors_app/styles.css' %}">

</head>
<body>
    <!-- Container -->
    <div id='container'>
        <div class="new_box">
            <h1>{{book.title}}</h1>
            <div class='text_blocks'>
{%for i in book.authors.all %}
<h2>{{i.first_name}} {{i.last_name}}</h2>
{%endfor%}

                    <p>{{book.description}}<p><br>
            </div>
        </div>

    </div>
</body>
