* {
    /* outline: 1px dotted red; */
    margin: 0px;
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
h2{
    margin-top: 50px;
}

#container{
    height: auto;
    width: auto;
    padding-top: 100px;
    padding-left: 500px
}
#input_box{
    height: 600px;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    text-align:center;
}
#submit{
    text-align:center;
    background-color: grey;
    color: black;
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}
.play_box{
    width: 275px;
    height: 200px;
    background-color: red;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-size: 20px;
}
.win_box{
    width: 275px;
    height: 200px;
    background-color: green;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-size: 20px;
}

h3{
    padding-top: 60px;
}
.form-control {
  display: block;
  margin-top: 30px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  text-align: center;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
